.Container {
  display: grid;
}

.Container.Col-1{
  grid-template-columns: repeat(1, 1fr);
}

.Container.Col-2{
  grid-template-columns: repeat(2, 1fr);
}

.Container.Col-3{
  grid-template-columns: repeat(3, 1fr);
}

.Container.Col-4{
  grid-template-columns: repeat(4, 1fr);
}

.Container.Col-5{
  grid-template-columns: repeat(5, 1fr);
}

.Container.Col-6{
  grid-template-columns: repeat(6, 1fr);
}

.Container.Col-7{
  grid-template-columns: repeat(7, 1fr);
}

.Container.Col-8{
  grid-template-columns: repeat(8, 1fr);
}

.Container.Col-9{
  grid-template-columns: repeat(9, 1fr);
}

.Container.Col-10{
  grid-template-columns: repeat(10, 1fr);
}

.Container.Col-11{
  grid-template-columns: repeat(11, 1fr);
}

.Container.Col-12{
  grid-template-columns: repeat(12, 1fr);
}

.Container.Col-13{
  grid-template-columns: repeat(13, 1fr);
}

.Container.Col-14{
  grid-template-columns: repeat(14, 1fr);
}

.Container.Col-15{
  grid-template-columns: repeat(15, 1fr);
}

.Container.Col-16{
  grid-template-columns: repeat(16, 1fr);
}
